body {
  font-family: "Roboto", sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}
.header__image {
  max-width: 140px;
  border-radius: 50px;
}
.word-cloud {
  display: flex;
  align-items: center;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
.word-cloud__container {
  position: relative;

  @media screen and (min-width: 1200px) {
    width: 1000px;
    height: 600px;
  }
  @media screen and (min-width: 601px) and (max-width: 1199px) {
    width: 800px;
    height: 400px;
  }
  @media screen and (max-width: 600px) {
    width: 600px;
    height: 300px;
  }
}
.word-cloud__word {
  position: absolute;
  cursor: pointer;
  background: transparent;
  border: none;
  font-family: inherit;
}
.selected {
  text-decoration: underline;
}
.info-panel {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
  border: 1px solid #ececec;
  padding: 24px 32px;
  color: black;
  flex: 1;
  max-width: 300px;
  height: 100%;
}
.info-panel__positive {
  color: green;
}
.info-panel__negative {
  color: red;
}
.info-panel__group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.info-panel__total {
  margin-top: 10px;
}
